<strong>Nos services</strong>
<ul class="nav nav-pills">
  <li{% if page.url == "/services/coworking/index.html" %} class="active"{% endif %}><a href="/services/coworking">Espace de coworking</a></li>
  <li{% if page.url == "/services/bureaux-a-louer-arlon/index.html" %} class="active"{% endif %}><a href="/services/bureaux-a-louer-arlon">Bureaux à louer</a></li>
  <li{% if page.url == "/services/location-salle-conference/index.html" %} class="active"{% endif %}><a href="/services/location-salle-conference">Location de salle de réunion</a></li>
</ul>