{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}{% include head.html %}
  <body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
    <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
    <div id="wrap">
      <header role="banner">
        {% include navigation.html %}
      </header>
      <div id="main" role="main" class="container">
        <div id="content">
          {{ content | expand_urls: root_url }}
        </div>
      </div>
    </div>
    <footer id="page-footer" role="contentinfo" class="clearfix">
      {% include footer.html %}
      <p class="credits">
        Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }}<br>
        <small>
            <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>,
            <span class="credit">customized with <a href="https://github.com/kAworu/octostrap3">octostrap3</a></span>.
        </small>
      </p>

    </footer>
    {% include after_footer.html %}
  </body>
</html>
