<div class="col-md-6"></div>
<div class="col-md-6">
  <h6>Nous contacter</h6>
  <address>
    Rue Fernand André 7<br>
    6791 Aubange<br>
    Lat. : 49.557971 | Lon. : 5.829275
  </address>
  <h6>Par e-mail</h6>
  <a href="mailto:&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#103;&#114;&#101;&#101;&#110;&#108;&#097;&#098;&#045;&#099;&#111;&#119;&#111;&#114;&#107;&#105;&#110;&#103;&#046;&#099;&#111;&#109;">&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#103;&#114;&#101;&#101;&#110;&#108;&#097;&#098;&#045;&#099;&#111;&#119;&#111;&#114;&#107;&#105;&#110;&#103;&#046;&#099;&#111;&#109;</a>
  <h6>Via Slack</h6>
  <a href="https://greenlab-coworking.slack.com/">Greenlab Coworking sur Slack</a>
</div>
<p class="credits">
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }}<br>
  <small>
      <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>,
      <span class="credit">customized with <a href="https://github.com/kAworu/octostrap3">octostrap3</a></span>.
  </small>
</p>
