<div class="row">
  <div class="col-md-6">
    <iframe width="545" height="306" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=5.7355499267578125%2C49.61104363508234%2C5.911846160888672%2C49.68673374692359&amp;layer=mapnik&amp;marker=49.648903402372966%2C5.823698043823242" style="border: 1px solid black"></iframe><br/><small><a href="http://www.openstreetmap.org/?mlat=49.6489&amp;mlon=5.8237#map=13/49.6489/5.8237" target="_blank">Afficher une carte plus grande</a></small>
  </div>
  <div class="col-md-6">
    <h6>Nous contacter</h6>
    <address>
      Rue Claude Berg 34<br>
      Zone Artisanale<br>
      6700 Arlon (Weyler)<br>
      Lat. : 49.64909 | Lon. : 5.82353<br>
    </address>
    <h6>Par e-mail</h6>
    <a href="mailto:&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#103;&#114;&#101;&#101;&#110;&#108;&#097;&#098;&#045;&#099;&#111;&#119;&#111;&#114;&#107;&#105;&#110;&#103;&#046;&#099;&#111;&#109;">&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#103;&#114;&#101;&#101;&#110;&#108;&#097;&#098;&#045;&#099;&#111;&#119;&#111;&#114;&#107;&#105;&#110;&#103;&#046;&#099;&#111;&#109;</a>
    <h6>Via Slack</h6>
    <a href="https://greenlab-coworking.slack.com/">Greenlab Coworking sur Slack</a>
  </div>
</div>
<p class="credits">
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }}<br>
  <small>
      <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>,
      <span class="credit">customized with <a href="https://github.com/kAworu/octostrap3">octostrap3</a></span>.
  </small>
</p>
