<div class="row">
  <div class="col-md-3">
    <h5>Nous contacter</h5>
    <address>
      Rue Claude Berg 34<br>
      Zone Artisanale<br>
      6700 Arlon (Weyler)<br>
      Lat. : 49.64882 | Lon. : 5.82359<br>
      <a href="geo:49.64882,5.82359?z=19">[49.64882,5.82359]</a>
    </address>
    <h6>Par e-mail</h6>
    <a href="mailto:&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#103;&#114;&#101;&#101;&#110;&#108;&#097;&#098;&#045;&#099;&#111;&#119;&#111;&#114;&#107;&#105;&#110;&#103;&#046;&#099;&#111;&#109;">&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#103;&#114;&#101;&#101;&#110;&#108;&#097;&#098;&#045;&#099;&#111;&#119;&#111;&#114;&#107;&#105;&#110;&#103;&#046;&#099;&#111;&#109;</a>
    <h6>Via Slack</h6>
    <a href="https://greenlab-coworking.slack.com/">Greenlab Coworking sur Slack</a>
  </div>
  <div class="col-md-6" id="map">
  </div>
  <div class="col-md-3">
    <h5>Nous rejoindre</h5>
    <strong>Via la E411 <small>(depuis Bruxelles ou Luxembourg)</small></strong>
    <p>Prendre la sortie 32, au rond point, prendre direction <em>Zoning Artisanal</em>
    <br>
    <br>
    <strong>Via la N4 <small>(depuis Bastogne ou Arlon)</small></strong>
    <p>Après Arlon, continuer tout droit en direction de Weyler, au rond point, prendre direction <em>Zoning Artisanal</em></p>
  </div>
</div>
<p class="credits">
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }}<br>
  <small>
      <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>,
      <span class="credit">customized with <a href="https://github.com/kAworu/octostrap3">octostrap3</a></span>.
  </small>
</p>

<script src="//cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script src="/javascripts/application.js"></script>
