{% css_asset_tag global %}
- /_assets/stylesheets/bootstrap.min.css
- /_assets/stylesheets/bootstrap-theme.min.css
- /_assets/stylesheets/font-awesome.min.css
- /_assets/stylesheets/bootstrap-datepicker3.min.css
- /_assets/stylesheets/leaflet.css
- /_assets/stylesheets/screen.css
{% endcss_asset_tag %}

<meta name="geo.region" content="BE" />
<meta name="geo.placename" content="Arlon" />
<meta name="geo.position" content="49.64882;5.82359" />
<meta name="ICBM" content="49.64882, 5.82359" />

<meta content='https://www.facebook.com/GreenlabCoworking/' property='article:publisher'>
<link href='https://plus.google.com/+Greenlab-coworking' rel='publisher'>
<meta content='@greenlabcowork' name='twitter:site'>
<meta content='@greenlabcowork' name='twitter:creator'>

<meta content='Greenlab Coworking' property='og:site_name'>

<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#90b749 ">
<meta name="msapplication-TileColor" content="#da532c ">
<meta name="theme-color" content="#ffffff ">
{% if post.og_picture %}
  <meta property="og:image" content="http://www.greenlab-coworking.com/{{ post.og_picture }}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="627" />
  <meta name="twitter:image" content="http://www.greenlab-coworking.com/{{ post.og_picture }}"/>
{% endif %}
{% if page.og_picture %}
  <meta property="og:image" content="http://www.greenlab-coworking.com/{{ page.og_picture }}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="627" />
  <meta name="twitter:image" content="http://www.greenlab-coworking.com/{{ page.og_picture }}"/>
{% endif %}

{% if post.og_title %}
  <meta property="og:title" content="{{ post.og_title }}" />
{% endif %}
{% if page.og_title %}
  <meta property="og:title" content="{{ page.og_title }}" />
{% endif %}
{% if post.og_description %}
  <meta property="og:description" content="{{ post.og_description }}" />
{% endif %}
{% if page.og_description %}
  <meta property="og:description" content="{{ page.og_description }}" />
{% endif %}

<meta property="og:locale" content="fr_BE" />