/* nice sticky footer, from http://getbootstrap.com/examples/sticky-footer/ */
html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

#top-navigation{
  background: #333;
  padding-top: 10px;
  margin-bottom: 20px;
  ul{
    float: right;
    li{
      a{
        color: white;
      }
    }
  }
}

#site-title{
  float: left;
  a{
    background-image: url(/images/greenlab.png);
    background-repeat: no-repeat;
    height: 95px;
    width: 463px;
    display: block;
    text-indent: -9999em;
  }
}

.navbar{
  &.navbar-default{
    background: transparent;
    border: none;
    box-shadow: none;
    float: right;
    margin-top: 50px;
  }
}

#pattern{
  margin: 50px 0;
  padding: 25px 0;
  position: relative;
  &:after{
    content: "";
    background-image: url(/images/pattern.png);
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
  }
  p{
    margin: 0;
  }
}

#page-footer{
  background-color: $greenlab-green;
  #map{
    height: 350px !important;
  }
}

/* print page content only no header, footer and asides, works with any page layout */
@media print {
  body * {
    visibility: hidden;
  }
  /* use .no-print if you want to hide something inside page-content from printing */
  .no-print, .no-print * {
    display: none !important;
  }
  .page-content, .page-content * {
    visibility: visible;
  }
  .page-content {
    position: absolute;
    left: 0;
    top: 0;
  }
}
